.prio-btn {
    padding: 10px 20px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f0f0f0;
    transition: background-color 0.3s;
}

.prio-btn.active {
    background-color: #2A3647;
    color: white;
    border: none;
}
.content_heading h2{
    font-size: 61px;
    font-weight: 700;
}
.add_task_form_box{
    display: flex;
    justify-content: space-between;
    height: 424px;
    margin-top: 48px;
}
.add_task_left_box{
    display: flex;
    flex-direction: column;
    width: 440px;
    height: 376px;
    justify-content: space-between;
}
.add_task_right_box{
    display: flex;
    flex-direction: column;
}