#task-priority{
    height: 56px;
    display: flex;
    gap: 8px;
}
.gap_8{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.prio-btn {
    width: 136px;
    padding: 16px 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 4px 0px #0000001A;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 8px;
    transition: box-shadow 0.1s ease;
}
.prio-btn:hover{
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.4);
}

.prio-btn.active {
    color: white;
    border: none;
}
<<<<<<< HEAD
<<<<<<< HEAD

.prio-btn.urgent.active {
    background-color: rgb(255, 61, 0);
}

.prio-btn.medium.active {
    background-color: #FFA800;
}

.prio-btn.low.active {
    background-color: #7AE229;
}

.prio-btn.active img {
    filter: brightness(0) invert(1);
}

.content_heading h2 {
=======
.content_heading h2{
>>>>>>> parent of 2680358 (Merge branch 'main' of https://github.com/StefanNagel0/Join into main)
=======
.content_heading h2{
>>>>>>> parent of 2680358 (Merge branch 'main' of https://github.com/StefanNagel0/Join into main)
    font-size: 61px;
    font-weight: 700;
}
.add_task_form_box{
    display: flex;
    justify-content: left;
    height: 424px;
    margin-top: 48px;
    gap:47px;
}
.add_task_left_box{
    display: flex;
    flex-direction: column;
    width: 440px;
    height: 376px;
    justify-content: space-between;
}
<<<<<<< HEAD
<<<<<<< HEAD

.add_task_left_box label {
=======
=======
>>>>>>> parent of 2680358 (Merge branch 'main' of https://github.com/StefanNagel0/Join into main)
.add_task_left_box label{
    font-weight: 400;
>>>>>>> parent of 2680358 (Merge branch 'main' of https://github.com/StefanNagel0/Join into main)
    color: #2A3647;
}
#task-desc{
    height: 132px;
    padding: 18px 16px;
    border-radius: 10px;
    border: 1px solid #D1D1D1
}
#task-title{
    height: 48px;
    border-radius: 10px;
    padding: 12px 21px;
    gap: 10px;
    display: flex;
    border: 1px solid #D1D1D1
}
.add_task_right_box{
    display: flex;
    flex-direction: column;
    height: 516px;
    justify-content: space-between;
    max-width: 440px;
}

#dropdown-wrapper {
    width: 100%;
    position: relative;
}

.dropdown-toggle {
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #fff;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border: 1px solid #D1D1D1
}

.dropdown-arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #333;
    transition: transform 0.1s ease;
}
.dropdown-toggle.open .dropdown-arrow {
    transform: rotate(180deg);
}
#dropdown-toggle-category.open .dropdown-arrow{
    transform: rotate(180deg);
}
.dropdown-content {
    border: 1px solid #ccc;
    background-color: #fff;
    max-height: 290px;
    overflow-y: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    position: absolute;
    width: 440px;
    display: none;
}

#dropdown-wrapper .dropdown-content.visible {
    display: block;
}

.contact-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

.contact-item.selected {
    background-color: #2A3647;
    color: white;
}

.contact-item.selected .checkbox {
    accent-color: white;
}

.contact-item:hover {
    background-color: #D1D1D1;
}

.contact-item.selected:hover{
    background-color: #2A3647;
}

.contact-item.selected .initials-circle {
    border: 1px solid white;
}

.initials-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-weight: 200;
    font-size: 12px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    transition: border 100ms ease-in-out;
}

.selected-contact {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-weight: 200;
    font-size: 12px;
    color: #fff;
    margin: 5px;
}

.selected-contacts {
    margin-top: 10px;
    display: flex;
}


.contact-label {
    flex-grow: 1;
    margin-right: 10px;
}

.checkbox {
    width: 16px;
    height: 16px;
    cursor: pointer;
    appearance: none;
    border: 2px solid #ccc;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    background-color: white;
    transition: all 100ms;
}

.checkbox:checked {
    background-color: #2A3647;
    border-color: #ffffff;
}

.checkbox:checked::after {
    content: "✓";
    color: white;
    font-size: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}
.contact-circle-label {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

input::placeholder,
textarea::placeholder {
    color: #D1D1D1;
}

#task-date{
    height: 48px;
    padding: 12px 16px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    color: #D1D1D1;
}
<<<<<<< HEAD
<<<<<<< HEAD

.add_task_right_box label {
=======
=======
>>>>>>> parent of 2680358 (Merge branch 'main' of https://github.com/StefanNagel0/Join into main)
.add_task_right_box label{
    font-weight: 400;
>>>>>>> parent of 2680358 (Merge branch 'main' of https://github.com/StefanNagel0/Join into main)
    color: #2A3647;
}
#task-category:invalid {
    color: #D1D1D1;
}
<<<<<<< HEAD
<<<<<<< HEAD

.prio_text {
=======
=======
>>>>>>> parent of 2680358 (Merge branch 'main' of https://github.com/StefanNagel0/Join into main)
.prio_text{
    font-weight: 400;
>>>>>>> parent of 2680358 (Merge branch 'main' of https://github.com/StefanNagel0/Join into main)
    color: #2A3647;
}
.dropdown-container {
    position: relative;
    display: inline-block;
}
.custom-dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    position: relative;
}
.dropdown-options {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: opacity 0.1s ease, visibility 0.1s ease;
}
.dropdown-options.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.dropdown-options.visible {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.dropdown-option {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.1s ease;
}
.dropdown-option:hover {
    background-color: #f0f0f0;
}
#subtask-container {
    position: relative;
    display: flex;
    align-items: center;
}
<<<<<<< HEAD
<<<<<<< HEAD

.subtask-marker{
    margin-right: 4px;
}

#add-subtask,
#clear-subtask {
=======
#add-subtask, #clear-subtask {
>>>>>>> parent of 2680358 (Merge branch 'main' of https://github.com/StefanNagel0/Join into main)
=======
#add-subtask, #clear-subtask {
>>>>>>> parent of 2680358 (Merge branch 'main' of https://github.com/StefanNagel0/Join into main)
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: gray;
}
#new-subtask {
    width: 100%;
    padding: 10px 40px 10px 10px;
    font-size: 16px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
}
#clear-subtask {
    right: 40px;
}

#add-subtask {
    right: 10px;
}
#add-subtask:hover, #clear-subtask:hover {
    opacity: 0.8;
}

.subtask-controls {
    display: none;
    gap: 8px;
    align-items: center;
}

<<<<<<< HEAD
<<<<<<< HEAD
.subtask-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    padding: 0px 8px 0 20px;
}
.subtask-item:hover {
    background-color: #eaeaeaa9;
    border-radius: 10px;
=======
.subtask-item{
display: flex;
justify-content: space-between;
>>>>>>> parent of 2680358 (Merge branch 'main' of https://github.com/StefanNagel0/Join into main)
=======
.subtask-item{
display: flex;
justify-content: space-between;
>>>>>>> parent of 2680358 (Merge branch 'main' of https://github.com/StefanNagel0/Join into main)
}

.subtask-item:hover .subtask-controls {
    display: flex;
}
<<<<<<< HEAD
<<<<<<< HEAD

.subtask-item.editing {
    background-color: white;
    border-radius: 0;
    border-bottom: 1px solid #28ABE2;
}

.subtask-item.editing .subtask-check {
    border: none;
}
#subtask-list-container {
    max-height: 100px;
    min-height: 100px;
    overflow-y: auto;
    margin-top: 8px;
}

#subtask-list {
    border-radius: 10px;
    padding: 0;
=======
=======
>>>>>>> parent of 2680358 (Merge branch 'main' of https://github.com/StefanNagel0/Join into main)
#subtask-list:hover{
    background-color: #eaeaeaa9;
>>>>>>> parent of 2680358 (Merge branch 'main' of https://github.com/StefanNagel0/Join into main)
}
.subtask-edit, .subtask-trash, .subtask-check {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.subtask-edit,
.subtask-check {
    filter: grayscale(100%) brightness(0) sepia(100%) hue-rotate(180deg) saturate(1000%) contrast(100%) drop-shadow(0 0 0 #2A3647);
}

.add_task_required_info_box{
    display: flex;
    justify-content: space-between;
    max-width: 959px;
    margin-top: 122px;
    align-items: end;
}
.red_star{
color: red;
}
.add_task_required_info{
    font-size: 16px;
}
.add_task_buttons_box{
    display: flex;
    gap: 16px;
}
.clear_save_btns{
    display: flex;
}
.add_task_clear_btn{
    display: flex;
    background-color: #F6F7F8;
    border: 1px solid #2A3647;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    height: 56px;
    width: 110px;
    color: #2A3647;
}
.add_task_submit_btn{
    display: flex;
}
.add_task_submit_btn button{
    height: 56px;
    border-radius: 10px;
    gap: 4px;
    padding: 10px;
    background-color: #2A3647;
    color: white;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add_task_submit_btn span{
    font-size: 18px;
}
.add_task_submit_btn img{
    height: 24px;
    width: 24px;
}