@media screen and (max-width: 1400px) {
    .openTaskOverlayMain {
        left: calc(100vw - 700px);
        margin-left: 0px;
    }
}

@media screen and (max-width: 900px) {
    .openTaskOverlayMain {
        width: calc(100vw - 40px);
        min-width: 320px;
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
        left: 20px;
        right: 20px;
    }

    .openTaskOverlayButtonContainer {
        width: auto;
    }
}

@media screen and (max-width: 570px) {
    .openTaskOverlayTitle {
        font-size: 45px;
        width: auto;
    }

    .openTaskOverlayDescription {
        font-size: 16px;
    }

    .openTaskOverlaySubtask {
        font-size: 14px;
    }
}

@media screen and (max-width: 380px) {
    .openTaskOverlayMain {
        width: calc(100vw - 40px);
        min-width: 300px;
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
        left: 10px;
        right: 10px;
    }

    .openTaskOverlayTitle {
        font-size: 35px;
    }

    .openTaskOverlayDescription {
        font-size: 14px;
    }

    .openTaskOverlaySubtask {
        font-size: 14px;
    }
}