.boardAddTaskOverlay {
    position: fixed;
    top: 60px;
    right: -400%;
    width: 1116px;
    height: 870px;
    border-radius: 30px;
    background-color: #FFFFFF;
    z-index: 9991;
    transition: right 0.3s ease;
}

.boardAddTaskOverlay.show {
    right: 550px;
}

.darkOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.231);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 9990;
}

.darkOverlay.show {
    opacity: 1;
    visibility: visible;
}

.addTaskLeftBoxBoard {
    padding-left: 30px;
}

.addTaskSuccess {
    position: fixed;
    width: 326px;
    height: 74px;
    padding: 0px 25px 0px 25px;
    border-radius: 20px;
    margin-top: 200px;
    margin-left: 550px;
    margin-bottom: 670px;
    background-color: #2A3647;
    box-shadow: 0px 0px 4px 0px #00000026;
    z-index: 9992;
}

.addTaskSuccessP {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 24px;
    padding-top: 35px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    gap: 40px;
    color: #FFFFFF;
}

.addTaskSuccessImg {
    width: 30px;
    height: 30px;
    gap: 10px;
}

.addTaskSuccessImg img {
    width: 25;
    height: 29.55px;
    rotate: 90deg;
    color: #FFFFFF;
}

.taskContainer {
    display: flex;
    flex-direction: column;
    width: 252px;
    height: 263px;
    padding: 16px;
    margin-top: 15px;
    gap: 10px;
    border-radius: 24px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 3px #00000014;
}

.taskChildContainer {
    width: 220px;
    height: 231px;
    gap: 24px;
}

.taskTitleContainer {
    width: 220px;
    height: 84px;
    gap: 8px;
    border-radius: 10px;
}

.taskTitle {
    width: 220px;
    height: 38px;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #2A3647;
}

.taskDescription {
    width: 220px;
    height: 38px;
    margin-bottom: 10px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #A8A8A8;
}

.taskSubtask {
    width: 220px;
    height: 16px;
}

.taskAssignedMain {
    display: flex;
    justify-content: space-between;
    width: 220px;
    height: 32px;
}

.taskAssigned {
    width: 80px;
    height: 32px;
}

.taskPriority {
    width: 32px;
    height: 32px;
    padding: 10px 18px 10px 18px;
    gap: 10px;
    opacity: 0px;
    rotate: -0 deg;
}

.taskOverlay {
    position: fixed;
    width: 525px;
    height: 871px;
    margin-top: 0px;
    margin-left: 550px;
    padding: 48px 40px 48px 40px;
    gap: 24px;
    border-radius: 30px;
    box-shadow: 0px 0px 4px 0px #00000029;
    background-color: #FFFFFF;
    z-index: 9991;
}

.taskCategoryUserStory {
    width: 113px;
    height: 27px;
    padding: 4px 16px 4px 16px;
    gap: 10px;
    border-radius: 8px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
    background: #0038FF;
}

.taskCategoryTechnical {
    width: 144px;
    height: 27px;
    padding: 4px 16px 4px 16px;
    gap: 10px;
    border-radius: 8px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
    background: #1FD7C1;
}