.closeEditButton {
    position: absolute;
    top: 36px;
    right: 36px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

input[type="text"],
textarea,
select {
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 0px 0px 0px 10px;
    box-sizing: border-box;
    color: black;
}

.openEditTaskOverlayMain {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-top: 50px;
    gap: 10px;
    overflow-y: hidden;
}

.editScrollbar {
    flex: 1;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #a8a8a8 #ffffff;
    margin-bottom: 40px;
}

.openEditTaskOverlayTitle {
    display: flex;
    flex-direction: column;
    max-width: calc(100% - 5px);
    gap: 10px;
    margin-bottom: 30px;
}

#editTitle{
    font-size: 20px;
    font-weight: 400;
    line-height: 39.2px;
}

.openEditTaskOverlayDescription {
    display: flex;
    flex-direction: column;
    max-width: calc(100% - 5px);
    font-size: 16px;
    line-height: 19.2px;
    color: #42526E;
    border: none;
    border-radius: 10px;
    gap: 8px;
    margin-bottom: 30px;
}
.openEditTaskOverlayDescription label {
    font-size: 20px;
    font-weight: 400;
}



.openEditTaskOverlayDueDate {
    display: flex;
    flex-direction: column;
    max-width: calc(100% - 5px);
    height: 23px;
    margin-bottom: 30px;
    font-family: Open Sans;
    font-size: 19px;
    font-weight: 400;
    line-height: 22.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #000000 !important;
    gap: 8px;
}
.openEditTaskOverlayDueDate label {
    font-size: 20px;
    font-weight: 400;
}

.taskEditDate {
    width: 100%;
    border-radius: 10px;
    border: 1px solid;
    padding: 12px 16px;
}

.openEditTaskOverlayPriority {
    display: flex;
    flex-direction: column;
    max-width: calc(100% - 5px);
    font-size: 16px;
    line-height: 19.2px;
    margin-top: 82px;
}

.openEditTaskOverlayPriority label {
    font-size: 20px;
    font-weight: 400;
}

.openEditTaskOverlayAssignedContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: calc(100% - 5px);
    height: 100vh;
    gap: 25px;
    color: #42526E;
}

.openEditTaskOverlayAssigned {
    font-size: 16px;
    line-height: 19.2px;
}

.openEditTaskOverlaySubtask {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: calc(100% - 5px);
    height: 24px;
    gap: 25px;
    color: #42526E;
}

.openEditTaskSaveButtonSorting {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
    padding: 20px;
}

.openEditTaskSaveButton {
    position: absolute;
    bottom: 0px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 89px;
    height: 57px;
    padding: 16px;
    gap: 8px;
    border-radius: 10px;
    background-color: rgb(42, 54, 71);
    color: white;
}

.openEditTaskSaveButton:hover {
    background-color: #29ABE2;
}


.openEditTaskOverlayTitle label {
    font-size: 20px;
    font-weight: 400;
}

.prio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 16px;
}

.priolow {
    display: flex;
    justify-content: center;
    gap: 8px;
    padding: 16px 10px;
    border-radius: 10px;
    font-size: 21px;
    font-weight: 700;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.urgent:active {
    background-color: rgb(255, 61, 0);
    color: white;
}

.medium:active {
    background-color: #FFA800;
    color: white;
}

.low:active {
    background-color: #7AE229;
    color: white;
}