#contact-name {
  background: url(../assets/svg/person.svg) no-repeat;
          background-position: calc(100% - 14px) center;
          background-size: 20px;
  }
  
  #contact-email {
    background: url(../assets/svg/mail.svg) no-repeat;
          background-position: calc(100% - 14px) center;
          background-size: 20px;
  }

  #contact-phone {
    background: url(../assets/svg/call.svg) no-repeat;
          background-position: calc(100% - 14px) center;
          background-size: 20px;
  }


@media screen and (max-width: 920px) {
    .infom {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 15px;
        margin-bottom: 22px;
        font-size: 16px; 
    }
    .details-container h2 {
        font-size: 20px;
        margin: 0 0 20px 0;
    }

    .closebutton {
        bottom: 71px;
        left: 203px;
        position: relative;
    }

    .overlay-content {
        width: 468px !important;
    }
  
      .collapse-content.open {
        transform: translateX(0);
        opacity: 1;
        position: fixed;
      }

      #contact-details {
        margin-right: 20px;
      }

      .delete-button, .edit-button {
        background-color: white;
      }

  .successedit.show {
    transform: translateX(0); 
    opacity: 1;
  }

  .successcreate {
    position: fixed;
    background-color: #2A3647;
    color: white;
    padding: 15px 20px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-family: Inter, sans-serif;
    font-size: 20px;
    width: 326px;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 500;
    top: 50px;
    left: 20%;
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.successedit {
    position: fixed;
    background-color: #2A3647;
    color: white;
    padding: 15px 20px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-family: Inter, sans-serif;
    font-size: 20px;
    width: 326px;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 500;
    bottom: 150px;
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.successcreate.show, .successedit.show {
    transform: translateX(0);
    opacity: 1;
}

.successcreate.hide, .successedit.hide {
    transform: translateX(100%);
    opacity: 0;
}
}

@media screen and (max-width: 1100px){
  .detailshead {

  flex-direction: column;
}   

  .detailshead hr {
      width: 115px !important;
      height: 0 !important;
  }
}

@media screen and (max-width: 480px) {
  .overlay-left {
    width: 370px !important;
  }

  .overlay-content {
    width: 370px !important;
}

.closebutton {
  left: 151px;
}

#contact-name, #contact-email, #contact-phone {
  width: 339px;
}

}

@media screen and (max-width: 1200px) {
  .overlay-content{
    width: 657px;
  }

  .overlay-left {
    width: 392px;
  }

}


@media screen and (max-width: 1080px) {
  .detailscircle {
    flex-direction: column;
  }

  .contbtn {
    justify-content: center !important;
    align-items: center;
  }

  .contactnames {
    text-align: center;
  }
}