@media screen and (max-width: 700px) {
    .btnclass {
        display: none;
    }

    .btnmobile {
        display: flex;
        z-index: 1005;
        position: fixed;
        bottom: 20px;
        right: 20px;
    }

    .btnmob {
        background-color: #2A3647;
        color: white;
        height: 56px;
        width: 56px;
        border-radius: 46px;
        gap: 10px;
        border-color: transparent;
    }

    /* Navbar */
    .navbar_main {
        display: flex;
    }
}