@media screen and (max-width: 1100px){
    .detailshead {

    flex-direction: column;
}   

    .detailshead hr {
        width: 115px !important;
        height: 0 !important;
    }
}

@media screen and (max-width: 1010px){
    .detailshead h1 {
        font-size: 43px;
}   

    .detailshead p {
        font-size: 20px;
    }   
}

@media screen and (max-width: 900) {
    .infom {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 15px;
        margin-bottom: 22px;
        font-size: 16px; 
}
    .details-container h2 {
        font-size: 20px;
        margin: 0 0 20px 0;
    }

    .closebutton {
        bottom: 71px;
        left: 203px;
        position: relative;
    }

    .overlay-content {
        width: 468px;
    }
  
      .collapse-content {
        position: fixed;
        transform: translateX(100%); 
        opacity: 0; 
        transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
        background-color: white;
        border: 1px solid white;
        border-radius: 5px;
        width: 114px;
        margin-left: 85%;
        bottom: 150px;
        right: 20px;
        z-index: 900;
      }
  
      .collapse-content.open {
        transform: translateX(0);
        opacity: 1;
        position: fixed;
      }

      #contact-details {
        margin-right: 20px;
      }

      .delete-button, .edit-button {
        background-color: white;
      }

  .successedit.show {
    transform: translateX(0); 
    opacity: 1;
  }

  .successcreate {
    position: fixed;
    background-color: #2A3647;
    color: white;
    padding: 15px 20px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-family: Inter, sans-serif;
    font-size: 20px;
    width: 326px;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 900;
    top: 50px;
    left: 20%;
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.successedit {
    position: fixed;
    background-color: #2A3647;
    color: white;
    padding: 15px 20px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-family: Inter, sans-serif;
    font-size: 20px;
    width: 326px;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1009;
    bottom: 150px;
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.successcreate.show, .successedit.show {
    transform: translateX(0);
    opacity: 1;
}

.successcreate.hide, .successedit.hide {
    transform: translateX(100%);
    opacity: 0;
}
}