h2 {
    font-size: 27px;
    font-weight: 700;
    margin-top: 30px;
}

h1 {
    font-size: 47px;
    font-weight: 700;
}

.content_legal{
    margin-left: 96px;
}

@media screen and (max-width: 900px) {
    .end {
        padding-bottom: 50px;
    }
    
    .help {
        padding-top: 50px !important;
    }
}