@media(max-width:900px) {
    .loginHeaderH1 {
        font-size: 44px;
        margin-bottom: 4px;
    }

    .loginLine {
        margin-right: 113.5px;
        margin-left: 113.5px;
    }

    .regiUser {
        display: none;
    }

    .mobilelogin {
        display: block;
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 50px 0 0 0;
    }

    .mainLogin {
        width: 94%;
        margin: auto;
        padding: 24px 0px;
        max-width: 440px;
    }

    .privacy {
        margin-left: 0;
    }

    header img {
        width: 64px;
        height: 64px;
        padding: 0 0 20px 20px;
        margin: 0;
    }

    .signUpArrow {
        margin-right: 350px;
    }

    .loginForm {
        width: 90%;
        margin: 20px;
    }

    .loginEmail {
        width: 100%;
        margin: auto;
        max-width: 440px;
    }

    .loginPassword {
        width: 100%;
        margin: auto;
        max-width: 440px;
    }

    .loginButtons {
        flex-direction: column;
        gap: 21px;
    }

    .loginButton {
        width: 180px;
        justify-content: center;
        font-size: 18px;
    }

    .guestButton {
        font-size: 18px;
        justify-content: center;
    }

    #email {
        background: url(../assets/svg/mail.svg) no-repeat;
        background-position: calc(100% - 14px) center;
        padding-left: 15px;
        background-size: 20px;
    }

    .signUpInput {
        width: 100%;
    }
    .signUpInputPassword{
        width: 100%;
    }

    #name {
        background: url(../assets/svg/mail.svg) no-repeat;
        background-position: calc(100% - 14px) center;
        background-size: 20px;
    }

    .sectionOne {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .checkboxMain {
        width: 250px;
        height: 20px;
    }

    .signUpMain{
        display: flex;
        flex-direction: row;
        gap: 5px;
        margin-right: 150px;
    }

}

@media(min-width:901px) {
    .mobilelogin {
        display: none;
    }
}

@media screen and (max-width: 870px) {
    .signUpSuccessClass {
        margin-left: 292px;
    }
}

@media screen and (max-width: 610px) {
    .signUpSuccessClass {
        margin-left: 163px;
    }

    .signUpArrow {
        margin-right: 330px;
    }
}

@media screen and (max-width: 426px) {

    .signUpSuccessClass {
        margin-left: 27px;
    }
    .errorMessage{
        max-width: 278px;
    }

    .signUpArrow {
        margin-right: 300px;
    }
}

@media screen and (max-width: 400px) {
    .checkboxMain {
        width: 150px;
        height: 20px;
        padding-bottom: 15px;
    }

    .signUpMain{
        justify-content: center;
        align-items: center;
        gap: 0px;
        margin-right: 150px;
    }
    
}

@media screen and (max-width: 376px) {
    .signUpArrow {
        margin-right: 250px;
    }

    .signUpHeaderH1 {
        font-size: 50px;
    }
}